# Laravel-specific files
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.yaml
Homestead.json
.nitro

# Log and Cache files
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views

# Composer dependencies
/vendor/

# Node modules
/node_modules/

# Environment-specific files
.env
.env.*.backup

# Laravel Mix files
/public/hot
/public/mix-manifest.json
/public/js/*.js
/public/css/*.css
/public/mix
/npm-debug.log
yarn-error.log
.pnpm-debug.log
*.log

# IDE and editor-specific files
/.idea
/.vscode
/.phpstorm.meta.php
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Debugging/Testing files
.phpunit.result.cache
coverage/
